<%= form_with(model: note, data: { action: "turbo:submit-end->modal#close" }, class: "contents") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= form.label :title unless type == :edit %>
    <%= form.text_field :title, placeholder: :title, class: "form-text-field" %>
  </div>

  <div class="form-row">
    <%= form.label :content unless type == :edit %>
    <%= form.text_area :content, size: "5x5", class: "form-text-field overflow-none" %>
  </div>

  <div class="form-row">
    <%= form.label :color %>
    <%= form.radio_button :color, class: "form-text-field" %>

  </div>

  <div class="flex flex-row gap-3">
    <%= form.submit type == :new ? t(:create) : t(:save), class: "button-primary" %>
    <%= button_tag t(:close), data: { action: "click->modal#close" }, type: "button", class: "button-outline-primary" %>
  </div>
<% end %>
