<%= tag.div id: dom_id(note), class: "flex flex-col gap-4 card bg-#{ note.color.blank? ? 'green' : note.color }-400" do %>
  <strong><%= note.title %></strong>
  <%= note.content %>
  <div class="flex flex-wrap gap-3">
    <% if action_name != "show" %>
      <%= link_to t(:show), note, data: { turbo_stream: "true" }, class: "button-outline-primary" %>
    <% end %>
    <%= link_to t(:edit), edit_note_path(note), data: { turbo_stream: "true" }, class: "button-outline-primary" %>
    <%= button_to t(:delete), note_path(note), method: :delete, class: "button-outline-primary" %>
  </div>
<% end %>
