<div id="<%= dom_id note %>" class="flex flex-col gap-2 shadow rounded bg-emerald-200 p-5">

  <strong><%= note.title %></strong>

  <%= note.content %>

  <div class="flex gap-2">
    <% if action_name != "show" %>
      <%= link_to t(:show), note, data: { turbo_frame: 'modal' }, class: "button-outline-primary" %>
    <% end %>
    <%= link_to t(:edit), edit_note_path(note), data: { turbo_frame: "modal" }, class: "button-outline-primary" %>
    <%= button_to t(:delete), note_path(note), data: { turbo_frame: "notice" }, method: :delete, class: "button-outline-primary" %>
  </div>

</div>
