<%= turbo_frame_tag "modal" do %>
  <%= tag.dialog data: { action: "click->modal#close", modal_target: "dialog" }, class: "dialog", open: true do %>
    <div class="max-w-md mx-auto">
      <%= render @note %>
    </div>
  <% end %>
<% end %>

<% if notice.present? %>
  <%= turbo_frame_tag "notice" do %>
    <%= tag.div role: "alert", id: "notice", class: "notice" do %>
      <p><%= notice %></p>
    <% end %>
  <% end %>
<% end %>
