<div>
  <h1 class="font-bold text-4xl"><%= t(:read) %></h1>
  <div>
    <p><%= @animal.id %></p>
    <p><%= @animal.name %></p>
    <p><%= @animal.description %></p>
    <%= link_to t(:read), animals_read_path(@animal.id), class: 'link' %>
    <%= link_to t(:update), animals_update_path(@animal.id), class: 'link' %>
    <%= link_to t(:delete), animals_delete_path(@animal.id), class: 'link' %>
  </div>
</div>
