<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t(:app_name) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", data: { turbo_track: "reload" } %>
  <%= stylesheet_link_tag "application", data: { turbo_track: "reload" } %>
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col h-screen bg-indigo-50">

<%= tag.dialog id: "modal",
               data: { controller: "modal", action: "click->modal#close keyup@window->modal#close", modal_target: "dialog" },
               role: "dialog", class: "dialog", open: false %>

<header class="h-16 shrink-0 bg-indigo-500 shadow">
  <div class="h-full container flex justify-center items-center">
    <span class="header-logo"><%= link_to t(:app_name), root_path %></span>
  </div>
</header>

<main class="container grow my-16 flex">
  <%= yield %>
</main>

<%= tag.div id: "notice", class: "contents" %>

<footer class="h-16 shrink-0 bg-indigo-500">
  <div class="h-full container flex justify-center items-center">
    <span class="header-logo"><%= t(:app_name) %></span>
  </div>
</footer>

</body>
</html>